<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tornado begin-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,597}</string>
                <key>spriteSourceSize</key>
                <string>{450,597}</string>
                <key>textureRect</key>
                <string>{{531,1},{450,597}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tornado begin-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,561}</string>
                <key>spriteSourceSize</key>
                <string>{447,561}</string>
                <key>textureRect</key>
                <string>{{1130,1},{447,561}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tornado begin-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,457}</string>
                <key>spriteSourceSize</key>
                <string>{528,457}</string>
                <key>textureRect</key>
                <string>{{1,1},{528,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado begin-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,365}</string>
                <key>spriteSourceSize</key>
                <string>{299,365}</string>
                <key>textureRect</key>
                <string>{{1693,1},{299,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tornado-begin-sprites.png</string>
            <key>size</key>
            <string>{1993,459}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:172d684063214924d31f27c6f84c1dfa:6f7340d2b10cef55149d04a2210fa597:6944ca033e48ce593791073974570533$</string>
            <key>textureFileName</key>
            <string>tornado-begin-sprites.png</string>
        </dict>
    </dict>
</plist>
