<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>destroyed house-type 1-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,317}</string>
                <key>spriteSourceSize</key>
                <string>{433,317}</string>
                <key>textureRect</key>
                <string>{{1662,1},{433,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>destroyed house-type 1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,317}</string>
                <key>spriteSourceSize</key>
                <string>{539,317}</string>
                <key>textureRect</key>
                <string>{{1,796},{539,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,342}</string>
                <key>spriteSourceSize</key>
                <string>{305,342}</string>
                <key>textureRect</key>
                <string>{{542,801},{305,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>destroyed house-type 1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,201}</string>
                <key>spriteSourceSize</key>
                <string>{180,201}</string>
                <key>textureRect</key>
                <string>{{886,801},{180,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,65}</string>
                <key>textureRect</key>
                <string>{{1624,977},{123,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,348}</string>
                <key>spriteSourceSize</key>
                <string>{539,348}</string>
                <key>textureRect</key>
                <string>{{1624,436},{539,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>destroyed house-type 1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,339}</string>
                <key>spriteSourceSize</key>
                <string>{539,339}</string>
                <key>textureRect</key>
                <string>{{1083,769},{539,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,366}</string>
                <key>spriteSourceSize</key>
                <string>{539,366}</string>
                <key>textureRect</key>
                <string>{{1083,401},{539,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,398}</string>
                <key>spriteSourceSize</key>
                <string>{539,398}</string>
                <key>textureRect</key>
                <string>{{1,396},{539,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,398}</string>
                <key>spriteSourceSize</key>
                <string>{539,398}</string>
                <key>textureRect</key>
                <string>{{580,1},{539,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,398}</string>
                <key>spriteSourceSize</key>
                <string>{539,398}</string>
                <key>textureRect</key>
                <string>{{1121,1},{539,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,398}</string>
                <key>spriteSourceSize</key>
                <string>{539,398}</string>
                <key>textureRect</key>
                <string>{{542,401},{539,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,393}</string>
                <key>spriteSourceSize</key>
                <string>{577,393}</string>
                <key>textureRect</key>
                <string>{{1,1},{577,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>destroyed-house-type 1-sprites.png</string>
            <key>size</key>
            <string>{1980,1114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4a5b0938d23a0bea1e8d2f4363cce81:d5ba055aa1bb50f98e2c9f47032e1f0a:5bcdc813160c83d5a735613d6c396b21$</string>
            <key>textureFileName</key>
            <string>destroyed-house-type 1-sprites.png</string>
        </dict>
    </dict>
</plist>
