<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wind-fan-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.40322}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{992,705}</string>
                <key>spriteSourceSize</key>
                <string>{992,705}</string>
                <key>textureRect</key>
                <string>{{1,1},{992,705}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wind-fan-sprites-1.png</string>
            <key>size</key>
            <string>{994,707}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e04aef143c33cd0772ebaf6a9519ff6c:bcb767f27b05f8668b1e9907020d7a89:5dc14c4554296df27af6cdc2bb48c63b$</string>
            <key>textureFileName</key>
            <string>wind-fan-sprites-1.png</string>
        </dict>
    </dict>
</plist>
