<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tornado-storm-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,603}</string>
                <key>spriteSourceSize</key>
                <string>{420,603}</string>
                <key>textureRect</key>
                <string>{{1266,414},{420,603}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tornado-storm-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,633}</string>
                <key>spriteSourceSize</key>
                <string>{411,633}</string>
                <key>textureRect</key>
                <string>{{1,1},{411,633}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tornado-storm-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,629}</string>
                <key>spriteSourceSize</key>
                <string>{411,629}</string>
                <key>textureRect</key>
                <string>{{636,1},{411,629}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tornado-storm-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,637}</string>
                <key>spriteSourceSize</key>
                <string>{414,637}</string>
                <key>textureRect</key>
                <string>{{627,414},{414,637}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tornado-storm-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,624}</string>
                <key>spriteSourceSize</key>
                <string>{411,624}</string>
                <key>textureRect</key>
                <string>{{1,414},{411,624}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tornado-storm-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,546}</string>
                <key>spriteSourceSize</key>
                <string>{411,546}</string>
                <key>textureRect</key>
                <string>{{1267,1},{411,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tornado-storm-sprites.png</string>
            <key>size</key>
            <string>{1870,835}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01ed215471b5501f411247e8edeff6aa:d26bef0b583f26ed7b9bc7a7557808ed:1d34d26e699e92ab26d7f8a3793ed4c3$</string>
            <key>textureFileName</key>
            <string>tornado-storm-sprites.png</string>
        </dict>
    </dict>
</plist>
