<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>storm-sprite-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storm-sprite-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{199,1},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storm-sprite-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{397,1},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storm-sprite-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{595,1},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storm-sprite-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{793,1},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storm-sprite-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{991,1},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storm-sprite-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{1189,1},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>storm-sprites.png</string>
            <key>size</key>
            <string>{1386,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ae497380d7e1a1853c69612d4176936:1b1819f567dea3bf1d8111e900eeb77b:5e90b749f35fb7787a00692cc469a161$</string>
            <key>textureFileName</key>
            <string>storm-sprites.png</string>
        </dict>
    </dict>
</plist>
