<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tree-falling-sprite-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,463}</string>
                <key>spriteSourceSize</key>
                <string>{261,463}</string>
                <key>textureRect</key>
                <string>{{496,288},{261,463}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree-falling-sprite-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,463}</string>
                <key>spriteSourceSize</key>
                <string>{280,463}</string>
                <key>textureRect</key>
                <string>{{1,731},{280,463}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree-falling-sprite-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,459}</string>
                <key>spriteSourceSize</key>
                <string>{298,459}</string>
                <key>textureRect</key>
                <string>{{854,551},{298,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree-falling-sprite-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,446}</string>
                <key>spriteSourceSize</key>
                <string>{335,446}</string>
                <key>textureRect</key>
                <string>{{1028,1},{335,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree-falling-sprite-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,425}</string>
                <key>spriteSourceSize</key>
                <string>{386,425}</string>
                <key>textureRect</key>
                <string>{{466,551},{386,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree-falling-sprite-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,384}</string>
                <key>spriteSourceSize</key>
                <string>{442,384}</string>
                <key>textureRect</key>
                <string>{{1,345},{442,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree-falling-sprite-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,342}</string>
                <key>spriteSourceSize</key>
                <string>{493,342}</string>
                <key>textureRect</key>
                <string>{{1,1},{493,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree-falling-sprite-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,285}</string>
                <key>spriteSourceSize</key>
                <string>{530,285}</string>
                <key>textureRect</key>
                <string>{{496,1},{530,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree-falling-sprite-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{551,238}</string>
                <key>spriteSourceSize</key>
                <string>{551,238}</string>
                <key>textureRect</key>
                <string>{{1154,449},{551,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tree-falling-sprites.png</string>
            <key>size</key>
            <string>{1393,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ede3b5d0b8a86bf4ad794e2a5bdb1cb:d7aed8b90d3e1c97ad61f620a923f40c:d733d21b0fb226739cc8bc96cc0842ab$</string>
            <key>textureFileName</key>
            <string>tree-falling-sprites.png</string>
        </dict>
    </dict>
</plist>
