<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phao-sprite-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,354}</string>
                <key>spriteSourceSize</key>
                <string>{212,354}</string>
                <key>textureRect</key>
                <string>{{793,1},{212,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phao-sprite-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,493}</string>
                <key>spriteSourceSize</key>
                <string>{394,493}</string>
                <key>textureRect</key>
                <string>{{1,1},{394,493}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phao-sprite-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,493}</string>
                <key>spriteSourceSize</key>
                <string>{394,493}</string>
                <key>textureRect</key>
                <string>{{397,1},{394,493}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>canon-sprites.png</string>
            <key>size</key>
            <string>{1006,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3a9fbe0cba28659952656202d1e7f3f:67c68e93eab12cd2980a745ca9e46492:d2231da87057ee04323fc103219b3768$</string>
            <key>textureFileName</key>
            <string>canon-sprites.png</string>
        </dict>
    </dict>
</plist>
