<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>destroyed house-type 2-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,228}</string>
                <key>spriteSourceSize</key>
                <string>{478,228}</string>
                <key>textureRect</key>
                <string>{{591,1488},{478,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>destroyed house-type 2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,276}</string>
                <key>spriteSourceSize</key>
                <string>{588,276}</string>
                <key>textureRect</key>
                <string>{{293,591},{588,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>destroyed house-type 2-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,115}</string>
                <key>spriteSourceSize</key>
                <string>{128,115}</string>
                <key>textureRect</key>
                <string>{{1,1804},{128,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,271}</string>
                <key>spriteSourceSize</key>
                <string>{588,271}</string>
                <key>textureRect</key>
                <string>{{571,591},{588,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>destroyed house-type 2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,271}</string>
                <key>spriteSourceSize</key>
                <string>{588,271}</string>
                <key>textureRect</key>
                <string>{{586,1},{588,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>destroyed house-type 2-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,276}</string>
                <key>spriteSourceSize</key>
                <string>{588,276}</string>
                <key>textureRect</key>
                <string>{{308,1},{588,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>destroyed house-type 2-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,290}</string>
                <key>spriteSourceSize</key>
                <string>{588,290}</string>
                <key>textureRect</key>
                <string>{{1,591},{588,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>destroyed house-type 2-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,290}</string>
                <key>spriteSourceSize</key>
                <string>{588,290}</string>
                <key>textureRect</key>
                <string>{{1,1512},{588,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 2-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,305}</string>
                <key>spriteSourceSize</key>
                <string>{588,305}</string>
                <key>textureRect</key>
                <string>{{1,1},{588,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>destroyed house-type 2-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{575,329}</string>
                <key>spriteSourceSize</key>
                <string>{575,329}</string>
                <key>textureRect</key>
                <string>{{1,1181},{575,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 2-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,192}</string>
                <key>spriteSourceSize</key>
                <string>{305,192}</string>
                <key>textureRect</key>
                <string>{{578,1181},{305,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>destroyed-house-type 2-sprites.png</string>
            <key>size</key>
            <string>{858,1967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4fe6fb52fd8d47e191a9fa8dbe30d76:91fc8bf23c6d9dd8071f6e338a64631f:7a6c868a1d9e6e1cf5cb84a18ff9ac8f$</string>
            <key>textureFileName</key>
            <string>destroyed-house-type 2-sprites.png</string>
        </dict>
    </dict>
</plist>
