<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>destroyed house-type 3-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,435}</string>
                <key>spriteSourceSize</key>
                <string>{288,435}</string>
                <key>textureRect</key>
                <string>{{1378,482},{288,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,476}</string>
                <key>spriteSourceSize</key>
                <string>{457,476}</string>
                <key>textureRect</key>
                <string>{{1422,1},{457,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,479}</string>
                <key>spriteSourceSize</key>
                <string>{457,479}</string>
                <key>textureRect</key>
                <string>{{504,1},{457,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 3-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,479}</string>
                <key>spriteSourceSize</key>
                <string>{457,479}</string>
                <key>textureRect</key>
                <string>{{460,482},{457,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 3-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,479}</string>
                <key>spriteSourceSize</key>
                <string>{457,479}</string>
                <key>textureRect</key>
                <string>{{963,1},{457,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 3-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,480}</string>
                <key>spriteSourceSize</key>
                <string>{457,480}</string>
                <key>textureRect</key>
                <string>{{1,482},{457,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 3-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,479}</string>
                <key>spriteSourceSize</key>
                <string>{457,479}</string>
                <key>textureRect</key>
                <string>{{919,482},{457,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 3-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,479}</string>
                <key>spriteSourceSize</key>
                <string>{501,479}</string>
                <key>textureRect</key>
                <string>{{1,1},{501,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>destroyed house-type 3-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,359}</string>
                <key>spriteSourceSize</key>
                <string>{378,359}</string>
                <key>textureRect</key>
                <string>{{1668,479},{378,359}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>destroyed house-type 3-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,134}</string>
                <key>spriteSourceSize</key>
                <string>{207,134}</string>
                <key>textureRect</key>
                <string>{{1881,1},{207,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>destroyed-house-type 3-sprites.png</string>
            <key>size</key>
            <string>{2028,963}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9314931ad62d97d530b6a86589316968:89da719ebc89391c38edeb74b0029663:517d6d2a76f28d91ff77dea5ebdb8641$</string>
            <key>textureFileName</key>
            <string>destroyed-house-type 3-sprites.png</string>
        </dict>
    </dict>
</plist>
