<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tornado-heart-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{749,1177}</string>
                <key>spriteSourceSize</key>
                <string>{749,1177}</string>
                <key>textureRect</key>
                <string>{{1,1054},{749,1177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tornado-heart-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{773,1120}</string>
                <key>spriteSourceSize</key>
                <string>{773,1120}</string>
                <key>textureRect</key>
                <string>{{1180,841},{773,1120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado-heart-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{838,1104}</string>
                <key>spriteSourceSize</key>
                <string>{838,1104}</string>
                <key>textureRect</key>
                <string>{{910,1},{838,1104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tornado-heart-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{907,1051}</string>
                <key>spriteSourceSize</key>
                <string>{907,1051}</string>
                <key>textureRect</key>
                <string>{{1,1},{907,1051}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tornado-heart-sprites-1.png</string>
            <key>size</key>
            <string>{2015,1962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:628c33130871c3f6d2d3c5c0e89963f6:dee79420478d1099f761cd27306b01c9:ac991e5bab8143d3be03e56b41a23253$</string>
            <key>textureFileName</key>
            <string>tornado-heart-sprites-1.png</string>
        </dict>
    </dict>
</plist>
