<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tornado-heart-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{739,1169}</string>
                <key>spriteSourceSize</key>
                <string>{739,1169}</string>
                <key>textureRect</key>
                <string>{{1,1142},{739,1169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tornado-heart-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{752,1151}</string>
                <key>spriteSourceSize</key>
                <string>{752,1151}</string>
                <key>textureRect</key>
                <string>{{1172,765},{752,1151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado-heart-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{766,1139}</string>
                <key>spriteSourceSize</key>
                <string>{766,1139}</string>
                <key>textureRect</key>
                <string>{{1,1},{766,1139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado-heart-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{762,1139}</string>
                <key>spriteSourceSize</key>
                <string>{762,1139}</string>
                <key>textureRect</key>
                <string>{{769,1},{762,1139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tornado-heart-sprites-2.png</string>
            <key>size</key>
            <string>{1925,1917}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:628c33130871c3f6d2d3c5c0e89963f6:dee79420478d1099f761cd27306b01c9:ac991e5bab8143d3be03e56b41a23253$</string>
            <key>textureFileName</key>
            <string>tornado-heart-sprites-2.png</string>
        </dict>
    </dict>
</plist>
