<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tornado-heart-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,457}</string>
                <key>spriteSourceSize</key>
                <string>{528,457}</string>
                <key>textureRect</key>
                <string>{{768,1100},{528,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado-heart-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{748,765}</string>
                <key>spriteSourceSize</key>
                <string>{748,765}</string>
                <key>textureRect</key>
                <string>{{1,803},{748,765}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tornado-heart-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,561}</string>
                <key>spriteSourceSize</key>
                <string>{447,561}</string>
                <key>textureRect</key>
                <string>{{768,537},{447,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado-heart-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,561}</string>
                <key>spriteSourceSize</key>
                <string>{447,561}</string>
                <key>textureRect</key>
                <string>{{768,537},{447,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado-heart-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,457}</string>
                <key>spriteSourceSize</key>
                <string>{528,457}</string>
                <key>textureRect</key>
                <string>{{768,1100},{528,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado-heart-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{736,534}</string>
                <key>spriteSourceSize</key>
                <string>{736,534}</string>
                <key>textureRect</key>
                <string>{{759,1},{736,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado-heart-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403226,0.403218}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{756,800}</string>
                <key>spriteSourceSize</key>
                <string>{756,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{756,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tornado-heart-sprites-5.png</string>
            <key>size</key>
            <string>{1496,1558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:628c33130871c3f6d2d3c5c0e89963f6:dee79420478d1099f761cd27306b01c9:ac991e5bab8143d3be03e56b41a23253$</string>
            <key>textureFileName</key>
            <string>tornado-heart-sprites-5.png</string>
        </dict>
    </dict>
</plist>
